.eventBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20em;
    width: 82%;
    padding-top: 3em;
}
.eventText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.EventBlockImage{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 82%;
    height: 100%;
    object-fit: cover;

}
.EventBlockTitle{
    font-size: 3em;
    font-weight: 700;
    color: #000000;
}
.EventBlockDateTime{
    font-weight: 500;
    font-size: 1.6em;
}
/* .date-time {

} */
/* .description{

}  */
